 <div class="panel-footer">
            <div class="row">
                <div class="col-sm-2"><img src="/avatar.png" height="50px" width="50px" class="rounded-img home-avatar"></div>
                <div class="col-sm-10"><h4 style="text-align: center;"><%= current_user.username %></h4></div>
                <div class="col-sm-12" style="margin-top: 10px;">
                  <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">POSTS<br>
                    <h6 style="color: #0084B4; font-size: 200%;"><%= current_user.posts.count %></h6>
                  </div>
                  <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">FOLLOWERS<br>
                    <h6 style="color: #0084B4; font-size: 200%;"><%= current_user.followers.count %></h6>
                  </div>
                </div>
            </div>
</div>




      <div class="panel panel-default">
          <div class="panel-image hide-panel-body">  
            <img src="/banner.jpg" class="panel-image-preview">
          </div>
          <div class="panel-footer">
            <div class="row">
                <div class="col-sm-2"><img src="/avatar.png" height="50px" width="50px" class="rounded-img home-avatar"></div>
                <div class="col-sm-10"><h4 style="text-align: center;"><%= current_user.username %></h4></div>
                <div class="col-sm-12" style="margin-top: 10px;">
                  <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">POSTS<br>
                    <h6 style="color: #0084B4; font-size: 200%;"><%= current_user.posts.count %></h6>
                  </div>
                  <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">FOLLOWERS<br>
                    <h6 style="color: #0084B4; font-size: 200%;"><%= current_user.followers.count %></h6>
                  </div>
                </div>
            </div>

          </div>
        </div>